<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="autyzmsoft.pl.profmarcin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/autyzmsoft"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashKlasa"
            android:label="@string/title_activity_scrolling"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="autyzmsoft.pl.profmarcin.SplashKlasa" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogModalny"
            android:theme="@android:style/Theme.Dialog"> <!-- it gives the activity the dialog look... -->
            <intent-filter>
                <action android:name="autyzmsoft.pl.profmarcin.DialogModalny" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FileChooserActivity"
            android:label="@string/title_activity_file_chooser">
        </activity>

        <activity
            android:name=".InternalExternalKlasa"
            android:label="wybierz katalog">

        </activity>

        <!--android:theme="@android:style/Theme.Dialog">      &lt;!&ndash; male okienko na srodku, nie przykrywa macierzystego activity &ndash;&gt;-->

        <activity
            android:name=".WersjaDemoOstrzez"
            android:label="Ostrzeżenie - używasz wersji demonstracyjnej">
        </activity>

        <activity
            android:name=".ApkaInfo"
            android:label="Informacje o aplikacji"
            android:screenOrientation="landscape">
        </activity>


    </application>

</manifest>